.time {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 300%;
  font-weight: bold;
}

div.container4 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

div.border {
  border-style: solid;
  border-radius: 15px;
  border-color: blue;
  background-color: rgba(124,121,1,0.5);
  box-shadow: 10px 10px 5px #888888;
}